<%- include('./partials/header') %>
<body>
    <div class="container my-5">
        <h1><%= bookTitle %></h1>

        <% if (coverUrl) { %>
            <img src="<%= coverUrl %>" alt="Book Cover">
            <% } %>

            <p>Author: <%= authorName %></p>

            <p class="description"><%= bookDescription %></p>

        <% if (readingUrl) { %>
            <p>Discover More about this book <a href="<%= readingUrl %>" target="_blank">here</a></p>
        <% } %>

            <button class="btn btn-primary"><a href="/">Home</a></button>
    </div>
</body>